.loginBg {
  background: url(images/bgLogin.jpg) no-repeat center center fixed;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.loginBox {
  background-color: white;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  width: 440px;
  padding: 40px 0;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 35%;
}

.login {
  margin-left: 70px;
}

.login h1 {
  font-weight: 400;
  margin-left: -70px;
  margin-bottom: 30px;
}

.login input {
  display: block;
  box-sizing: border-box;
  width: 82%;
  border-radius: 4px;
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(238, 238, 238);
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: grey;
}

.login input:hover {
  color: black;
}

.burger {
  background-color: #1069d8;
  /* background-color: #0d31a5e7; */
  padding: 5% 2%;
  width: 100px;
  height: 100vh;
  color: white;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  left: 0;
}

.burger h4 {
  margin-bottom: 30px;
}

.studentScroll{
  width: 260px;
  height: 110px;
  padding-left: 40px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 12px;
}

.studentCard {
  width: 290px;
  height: 320px;
  padding-left: 40px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 12px;
}
.horizontalScroll {
  height: 150px;
  width:100%; 
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.gradientLogin {
  background-image: linear-gradient(
    to right,
    #0d31a5e7 0%,
    #26a0da 51%,
    #0d31a5e7 100%
  );
}

.gradientLogin {
  margin: 10px;
  margin-top: 30px;
  padding: 10px 25px;
  letter-spacing: 1px;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  width: 280px;
  box-shadow: 0 0 20px #eee;
  border-radius: 35px;
  display: block;
}

.gradientLogin:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.circleS {
  height: 45px;
  width: 45px;
  position: relative;
  top: 30px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.navbar Route {
  padding: 40px 20px;
}
@media screen and (max-width: 1024px) {
  .loginBg {
    left: 50%;
    margin-left: -512px;
  }
}
